.gridFilmes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.mensagemVazia {
  text-align: center;
  color: #666;
  font-style: italic;
  padding: 20px;
  background-color: #fdfdfd;
  border: 1px dashed #ccc;
  border-radius: 8px;
}